@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html, body {
    background-color: $body-bg;
    color: $text-color;
    font-family: Montserrat;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.title {
    font-size: 24px;
}

/* Hide Insert Picture in summer note */
.note-btn-group.btn-group.note-insert button:nth-child(2) {
    display: none !important;
}

ul#images_col img {
    max-height: 100px;
}

.footer-bottom {
    background: $bg-dark;
    color:#fff;
    padding: 20px 15px;
    margin-top: 20px;
}

.footer-bottom a {
    color: #fff;
}

ul#images_col {
    list-style-type: none;
    padding-left: 0;
}

ul.fileslist li {
    padding-bottom: 10px;
}

.new_project {
    padding-bottom: 25px;
}

ul#images_col li {
    padding-bottom: 10px;
}

.footer-bottom {
    background: #646779 !important;
}

.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}